.objects {
    padding-top: 100px;
    padding-bottom: 45px;
}

.objects__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.objects__img {

}

.objects__text {

}